.banner {
  background: linear-gradient( rgba(97, 237, 255, 0.7), rgba(115, 234, 255, 0.8)), url("../assets/images/loginbackgroung.jpeg") no-repeat center;
  background-size: cover;
  background-position: center;
}

tr {
  border-bottom: 1px solid #ddd;
}
td,
th {
  padding: 0.5rem;
  text-align: left;
}

.dot {
  width: 8;
  max-width: 8;
  max-height: 8;
  border: 2px solid #111;
  border-radius: 4;
  margin: 3px auto;
}

.dropdown-menu {
  display: none;
  z-index: 10;
}

.dropdown-menu a:hover {
  background: rgb(226, 226, 226);
  border-radius: 5px;
}

.dropdown:hover .dropdown-menu,
.dropdown:focus .dropdown-menu {
  display: block;
}

.tag {
  font-size: 12;
  border-radius: 8px;
  padding: 4px 8px;
  background: #c7e2e3;
  display: inline-block;
  margin-right: 8px;
}

/* spinner styling */
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.error-message {
  background-color: #ffcccc;
  color: #a94442;
  padding: 15px;
  border: 1px solid #a94442;
  border-radius: 5px;
  margin: auto;
}

.pagination ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px;
  font-family: Arial, sans-serif;
  width: 100%;
}

.pagination span {
  font-size: 14px;
}

.pagination a {
  text-decoration: none;
  color: black;
  padding: 6px 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.pagination a.active {
  background-color: #4a9ea8; /* Blue-green active button */
  color: white;
  font-weight: bold;
}

.pagination a:hover {
  background-color: #e0e0e0;
}

.pagination .previous,
.pagination .next {
  background-color: #4a9ea8; /* Blue-green color */
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination .previous:hover,
.pagination .next:hover {
  background-color: #3a7f8a;
}

.pagination .previous a,
.pagination .next a {
  color: white;
}

.pagination .previous a:hover,
.pagination .next a:hover {
  background-color: unset;
}

.pagination .previous:disabled,
.pagination .next:disabled {
  background-color: #b0bec5;
  cursor: not-allowed;
}
